
body{
  margin: 0;
  padding: 0;
}
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* 
} */
.p1{
  position: fixed;
  top:0;
  width: 100%;
  font-size: larger;
  font-weight: 700;
  color: rgb(221, 106, 231);
  text-align: center;
}
.p2{
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: larger;
  font-weight: 700;
  color: rgb(191, 164, 194);
  text-align: center;
}
/* PROFILE */
.profile {
  position: fixed;
  top: 45%;
  left: 37%;
  border-top-left-radius:0px ;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  background: rgba(65, 3, 94, 0.589);
  color: #f1f1f1;
  filter: drop-shadow(0px 0px 8px rgb(153, 67, 223));
  backdrop-filter: blur(6px);
  width: 20%;
  height: 150px;
  padding-left: 5%;
}

.profile:hover{
  filter:drop-shadow(0px 4px 100px  rgb(162, 0, 255));
  transition: .5s ease ;
}
.profile:not(hover){
  transition: .5s ease ;
}
.profile-pic img{
  position: sticky;
  height: 150px;
width: 150px;
filter: drop-shadow(0px 0px 8px rgb(192, 119, 25));
translate: -200px -88%;
border-top-left-radius:10px ;
border-bottom-left-radius: 10px;

}
.profile-pic:hover{
  filter:drop-shadow(0px 4px 50px  rgb(192, 119, 25));
  transition: .5s ease ;
}
.profile-pic:not(hover){
  transition: .5s ease ;
}
.btns:hover{
  filter:drop-shadow(0px 4px 20px  rgb(192, 119, 25));
  transition: .5s ease ;
}
.btns:not(hover){
  transition: .5s ease ;
}
h1{
  margin-top: 20px;
  color: white;
  padding-left: 20px;
}
/* ICONS */
.icons{
  display: inline-flex;
  padding-left: 20px;
}
.insta{
  filter:drop-shadow(4px 0px 20px rgb(136, 8, 221));
}
.insta:hover{
  transition: .5s ease ;
  filter:drop-shadow(0px 2px 10px rgb(179, 0, 255));
}
.yt{
  filter:drop-shadow(4px 0px 20px rgb(221, 8, 8));
}
.yt:hover{
  transition: .5s ease ;
  filter:drop-shadow(0px 2px 10px rgb(221, 8, 8)) }
.github{
  filter:drop-shadow(4px 0px 20px rgb(8, 58, 221));
}
.github:hover{
  transition: .5s ease ;
  filter:drop-shadow(0px 2px 10px  rgb(8, 58, 221));
}
.btns{
  top: -10px;
  left: 10px;
  position: fixed;
  overflow: hidden;

}
button{
  border-top-right-radius:10px ;
  border-bottom-right-radius: 10px;
  border-top-left-radius:0px ;
  border-bottom-left-radius: 0px;
  filter: drop-shadow(0px 0px 8px rgb(153, 67, 223));
  padding: auto;
  margin: 10px;
  height: 40px;
  width: 40px;
  background-color: rgb(192, 119, 25);
  border: none;
  font-size: 30px;
}
button svg{
  filter: invert(1) sepia(0) saturate(20);
}
@media(max-width: 500px){
  #bgVideomb{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
   #bgVideo{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } 
  .profile {
    position: fixed;
    top: 15%;
    left: 10%;
    border-top-left-radius:5% ;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    background: rgba(65, 3, 94, 0.507);
    color: #f1f1f1;
    filter: drop-shadow(0px 0px 8px rgb(153, 67, 223));
    backdrop-filter: blur(6px);
    width: 300px;
    height: 450px;
    padding-left: 5%;
  }
  h1{
    translate: 15% 250px;
    margin-top: 20px;
    color: white;
    padding-left: 20px;
  }
  /* ICONS */
  .icons{
    translate: 30% 250px;
    display: inline-flex;
    padding-left: 20px;
  }
  .profile-pic img{
    position: sticky;
    height: 150px;
    width: 120px;
    translate: 50% -30%;
    filter: drop-shadow(0px 0px 8px rgb(192, 119, 25));
    /* left: 0%;
    top:0%; */
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
  
  }
  .btns{

    translate: 180px 156%;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    border-top-left-radius:0px ;
    border-bottom-left-radius: 0px;
    position: fixed;
    overflow: hidden;
  
  }
}
